ion-grid {
  width: 100%;
  height: 100%;
  background: #488aff;
}

ion-row {
  height: 100%;
}

ion-col {
  background: white;
  align-self: center;
}

#welcome {
  text-align: center;
}

a:active {
  color: tomato;
}

ion-button {
  font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
      background: white;
  }
  ion-col {
      border: none;
  }
}