<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <div id="welcome">
          <h4>Welcome!</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username or Email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
        </div>
        <div padding>
          <ion-button expand="full" size="large" (click)="navToRentals()" shape="round">Login</ion-button>
          <a href="https://ionicons.com/">Forgot Password</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>