<ion-tabs>

  <ion-tab-bar slot="top" style="--background: rgb(233, 60, 141); --color: white">
    <ion-tab-button tab="tab1">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Existing Rentals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>New Rental</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="build"></ion-icon>
      <ion-label>Update Rental</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>