<ion-header>
  <ion-toolbar>
    <ion-title>
      Fill out information on your rental.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="text" name="city" placeholder="City"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" name="address" placeholder="Address"></ion-input>
      </ion-item>
    <ion-item>
        <ion-input type="number" name="price" placeholder="Price">$</ion-input>
    </ion-item>
    <ion-item style="width: 22%">
      <ion-label style="padding-right: 5px">Number of Guests:</ion-label>
      <form action="/action_page.php">
        <select name="numGuestsRange">
          <option value="2-4">2-4</option>
          <option value="2-4">4-6</option>
          <option value="2-4">6-8</option>
          <option value="2-4">8-10</option>
          <option value="2-4">10+</option>
        </select>
      </form> 
    </ion-item>
    <ion-item>
      <ion-label>Dates Available:</ion-label>
    </ion-item>
    <section>
      <ion-card>
        <ion-label style="padding: 10px">From: </ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" max="2020-12-31" [(ngModel)]="myDate"></ion-datetime>
      </ion-card>
      <ion-card>
        <ion-label style="padding: 10px">To:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" max="2020-12-31" [(ngModel)]="myDate1"></ion-datetime>
      </ion-card>
    </section>   
  </ion-list>
</ion-content>

<ion-button (click)="navToRentals()"  shape="round" size="default">Submit</ion-button>