<ion-header>
  <ion-toolbar>
    <ion-title>
      Fill out information on your rental.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item>
      <ion-input [(ngModel)]="property.location" type="text" name="city" placeholder="City"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input [(ngModel)]="property.name" type="text" name="name" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="property.location" type="text" name="address" placeholder="Location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="property.price" type="number" name="price" placeholder="Price">$</ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="property.stars" type="number" name="price" placeholder="Rating (out of 5 stars)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="padding-right: 5px">Number of Guests:</ion-label>
      <form action="/action_page.php">
        <select name="numGuestsRange">
          <option value="Not entered">---</option>
          <option value="1">1</option>
          <option value="2-4">2-4</option>
          <option value="4-6">4-6</option>
          <option value="6-8">6-8</option>
          <option value="8-10">8-10</option>
          <option value="10+">10+</option>
        </select>
      </form>
    </ion-item>
    <ion-item>
      <ion-label>Dates Available:</ion-label>
    </ion-item>
    <section>
      <ion-card>
        <ion-label style="padding: 10px">From: </ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [min]="minDate" [(ngModel)]="startDate" max="2025-12-31"
          [(ngModel)]="myDate"></ion-datetime>
      </ion-card>
      <ion-card>
        <ion-label style="padding: 10px">To:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [min]="minDate" [(ngModel)]="startDate" max="2025-12-31"
          [(ngModel)]="myDate1"></ion-datetime>
      </ion-card>
    </section>
    <ion-item>
      <ion-input [(ngModel)]="property.imgURL" type="text" name="img" placeholder="Insert image URL here"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-button (click)="navToRentals()" shape="round" size="default">Submit</ion-button>