<ion-content>
  <ion-list>
    <b style="font-size: 200%; margin-bottom: 10%">Rentals</b>
    <div style="color: grey">Review your current listings.</div>
  </ion-list>
  <ion-list class="grid">
    <ion-card *ngFor="let property of properties">
      <ion-card-content (click)="navToDetails(property)">
        <img src="{{property.imgName}}" alt="{{property.place}}">
        <b>{{property.place}}</b>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-button (click)="navToLogin()">Log Out</ion-button>
