<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='tabs/tab1'></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-list class="top">
    <ion-avatar id="avatar">
      <img src="assets/icon/fresh_composite.jpg" alt="selfie">
    </ion-avatar>
    <b style="font-size: 200%">Hi, I'm {{user.firstname}}</b>
    <div style="color: grey">Joined in 2019</div>
    <div style="padding-top: 10%">
      <ion-icon name="text"></ion-icon>
      <ion-label>2 Reviews</ion-label>
    </div>
    <ion-item></ion-item>
    <section class="about">
      <br>
      <b style="font-size: 150%">About</b>
      <div>
        <ion-icon name="home"></ion-icon>
        Lives in New York, USA
      </div>
      <div style="margin-bottom: 0">
        <ion-icon name="logo-facebook"></ion-icon>
        Account connected
      </div>
    </section>
    <ion-item></ion-item>
    <section class="contact">
        <br>
        <b style="font-size: 150%">{{user.firstname}} Provided:</b>
        <div>
          <ion-icon name="phone-portrait"></ion-icon>
          Phone Number
        </div>
        <div>
          <ion-icon name="mail"></ion-icon>
          Email Address
        </div>
      </section>
    <ion-item></ion-item>
    <section class="reviews">
      <br>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <b style="font-size: 150%">2 Reviews</b>
    </section>
  </ion-list>
  
</ion-content>

<ion-button (click)="logOut()">Log Out</ion-button>