<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='tabs/tab3'></ion-back-button>
    </ion-buttons>
    <ion-label>Edit Listing: {{name}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center style="margin: 0 3%">
      <ion-col>
        <div class="important">
          <b>{{name}} in {{location}}</b>
        </div>
        <div class="container">
          <img src="{{imgURL}}" alt="{{name}}">
          <div class="overlay">
            <div class="text">
              <i>*Enter sample review here*</i>
            </div>
          </div>
        </div>
      </ion-col>
      

    </ion-row>
  </ion-grid>
  
</ion-content>
