ion-card {
  display: flex;
  justify-content: center;

}

.important {
  font-size: 28px;
  //text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 4%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  //margin: auto;

}

.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.75;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: tomato;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

a {
  margin-left: 2%;
}